<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>xcode-playtime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C81571CB1CE1C43C005D07D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C81571E21CE1C43C005D07D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C81571ED1CE1C43C005D07D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
